@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(47, 47, 47);
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

#slide-parent {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

#slide-parent::before, 
#slide-parent::after {
  position: absolute;
  top: 0;
  width: 25%;
  height: 100%;
  content: "";
  z-index: 2;
}

#slide-parent::before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

#slide-parent::after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

#slide-parent:hover 
#slide {
  animation-play-state: paused;
}

#slide {
  animation: 35s slide infinite linear;
}

#slide img {
  display: inline-block;
  height: 30px;
  margin: 0 60px;
}


